/* ==UserStyle==
@name           Youtube Tweaks
@namespace      youtube.com
@version        0.6
@description    tweaks for youtube
@author         hdyzen
@preprocessor   stylus
@license        MIT


@var select style 'Style' {
	"Default*": "null",
	"Acrylic": "acrylic()",
	"Transparent": "transparent()"
}
@var checkbox 	navbarS 		'Overlay Navbar' 		0
@var range 		navbar 			'Navbar Showing' 		[35, 0, 56, 1, 'px']
@var number 	delay 			'Navbar Delay' 			[0.2, 0, 4, 0.1, 's']
@var checkbox  	searchbarHover  'Search Bar Hover Dark' 0
@var checkbox	customLogo		'Custom Logo'			0
@var text		logo			'Logo'					"'https://i.imgur.com/Xytw68B.gif'"
@var checkbox 	customThumbs 	'Custom Thumbnails' 	1
@var number  	thumbsRow 		'Rows' 					[6, 4, 10, 1]
@var number  	fontSize 		'Font Size' 			[1.3, 1, 2, 0.1, 'rem']


==/UserStyle== */
@-moz-document domain("youtube.com") {



	/* Variaveis */
	i=!important





	/* Mixins */
	acrylic() {
		background rgba(15, 15, 15, .2) i;
		backdrop-filter blur(3px) i;
	}

	transparent() {
		background rgba(15, 15, 15, .3) i;
		backdrop-filter: grayscale(30%) i;
	}


	/* Barra de navegação */
	#masthead-container {
		top: - navbar i;
		transition: delay ease i;
		/* display: none; */
	}

	#masthead-container:hover,
	#masthead-container:focus-within {
		top: 0px i;
	}

	/* Estilo barra de navegação */
	#background,
	.sbsb_a {
		style
	}

	/* Barra de pesquisa  */
	#container.ytd-searchbox,
	#search-icon-legacy {
		background rgba(15, 15, 15, .2) i;
		border: none i;
	}

	/* Videos da oagina inicial */
	#page-manager {
		--navbar: navbar;
		margin-top: calc(56px - var(--navbar)) i;
	}

	/* Barra de navegação sobreposta */
	if navbarS {
		#page-manager {
			margin-top: 0 i;
		}
	}

	if searchbarHover {
		#container.ytd-searchbox {
			transition: .2s ease;
		}

		#container.ytd-searchbox:hover {
			background: rgba(15, 15, 15, .6) i;
		}

		#search-icon-legacy.ytd-searchbox {
			transition: .2s ease;
		}

		#search-icon-legacy.ytd-searchbox:hover {
			background: rgba(15, 15, 15, .6) i;
		}
	}

	if customLogo {
		yt-icon.ytd-logo {
			background-image: url(logo) i;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		yt-icon.ytd-logo > svg,
		#country-code.ytd-topbar-logo-renderer {
			display: none i;
		}
	}

	/* Assuntos recentes */
	#chips-wrapper {
		top: 20px i;
		/* display: none; */
	}

	/* Fundo resultados da barra de pesquisa */
	.sbdd_b {
		border: none i;
		background: none i;
	}

	/* Resultados */
	.sbpqs_a,
	.sbqs_c b {
		color: rgb(234, 234, 234) i;
	}

	.sbqs_c {
		color: rgb(209, 209, 209) i;
	}

	/* Icones recentes */
	.sbpqs_a::before,
	.sbqs_c::before {
		filter: invert(1) i;
	}

	/* Mouse sobre um resultado */
	.sbsb_d {
		background: rgba(11, 11, 11, .3) i;
	}

	/* Denunciar pesquisas */
	.sbfl_b {
		display: none i;
	}

	/* Barra de navegação cima */
	.sbsb_a {
		transform: translateY(5px) i;
		border-radius: 0 0 12px 12px i;
	}

	/* Pagina do canal */
	#primary.ytd-two-column-browse-results-renderer {
		position: relative i;
		top: 35px i;
	}

	ytd-section-list-renderer.style-scope > div:nth-child(2) {
		position: relative i;
		top: 20px i;
	}

	/* Youtube Small Thumbnails - Normal Size (archived) converted from userscript by vaporwave9 */
	if customThumbs {
		ytd-rich-grid-renderer {
			--ytd-rich-grid-items-per-row: thumbsRow i;
			--ytd-rich-grid-posts-per-row: thumbsRow i;
			--ytd-rich-grid-slim-items-per-row: thumbsRow i;
		}

		ytd-rich-grid-renderer > #contents > ytd-rich-grid-row,
		ytd-rich-grid-renderer > #contents > ytd-rich-grid-row > #contents {
			display: contents;
		}

		ytd-rich-item-renderer {
			min-width: 210px;
		}

		#avatar-link {
			display: none;
		}

		#video-title {
			--fontSize: fontSize;
			font-size: calc(0.1rem + var(--fontSize)) i;
		}

		#channel-name.ytd-video-meta-block {
			font-size: fontSize i;
		}

		#metadata-line {
			font-size: fontSize i;
		}

		.ytd-video-renderer:not([use-prominent-thumbs]) ytd-thumbnail.ytd-video-renderer {
			flex: none;
			width: 246px;
			height: 138px;
		}

		ytd-playlist-renderer[use-prominent-thumbs] ytd-playlist-thumbnail.ytd-playlist-renderer {
			max-width: 246px;
			min-width: 240px;
		}

		ytd-radio-renderer[use-prominent-thumbs] ytd-thumbnail.ytd-radio-renderer {
			max-width: 246px;
			min-width: 240px;
		}
	}
}
